.NomEtInformation {
	display: flex;
	margin-left: 0px;
	flex-direction: column;
	margin-top: 15px;
	
}
.Titre {
	font-size: 50px;
	text-align: center;
	margin-bottom: 5px;
	color: #009BD2;
}
.header {
	display: flex;
	justify-content:space-between;
}
.nth {
	margin-bottom: 2px;
	margin-top: 5px;
	font-size: 25px;
	font-weight: bold;
}
.adresse {
	font-size: 20px;
	margin-bottom: 0px;
}
.adresse2 {
	font-size: 20px;
	margin: 0px;
}
.numtel {
	font-size: 20px;
	margin: 0px;
}
.age {
	font-size: 20px;
	margin: 0px;
}
.adressemail {
	font-size: 20px;
	margin: 0px;
}
.BlockPresentation {
	display: flex;
}
.Presentation {
	font-size: 25px;
	margin-left: 15px;
	margin-top: 25px;
	margin-bottom: 15px;
}
.Competences {
	margin-top: 5px;
}
.TitreCompetences {
	font-size: 30px;
	font-weight: bolder;
	margin-top: 5px;
	margin-bottom: 15px;
	margin-left: 15px;
	text-decoration: underline;
	color: #009BD2;
}
.ListeCompetences {
	font-size: 25px;
	margin-left: 15px;
}
html {
	font-family: cursive;
	background-color: #fff;
}
.style {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.style:hover {
    background-color: rgba(255, 0, 0, 1);
}

.style:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
.style {
	display: flex;
	
}
body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	margin: 0
}
.Bouton {
	margin: 10px;
}
.Competences {
	margin-top: 25px;
	margin-left: 25px;
}
.ListeCompetences {
	margin-left: 35px;
}
.BlocProjet {
	border: 3px solid;
	margin-right: 100px;
	margin-top: 15px;
	background-color: #009BD2;
}
.ProjetNom {
	font-size: 35px;
	margin: 5px;
	text-align: center;
}
.FuturMetier {
	font-size: 30px;
	margin: 5px;
	margin-top: 5px;
	text-align: center;
	font-weight: bolder;
}
.TitreExpPro { 
	font-size: 30px;
	font-weight: bolder;
	margin-bottom: 15px;
	margin-top: 25px;
	margin-left: 25px;
	text-decoration: underline;
	color: #009BD2;
}
.ListeExpPro {
	margin-left: 35px;
	font-size: 25px;
	margin-bottom: 5px;
}
.ObjectifExpPro {
	margin-left: 75px;
	font-size: 25px;
	margin-top: 5px;
}
.ExpPro {
	margin-left: 25px;
}
.TitreFormation { 
	font-size: 30px;
	font-weight: bolder;
	margin-bottom: 15px;
	margin-top: 25px;
	margin-left: 25px;
	text-decoration: underline;
	color: #009BD2;
}
.ListeFormation {
	margin-left: 35px;
	font-size: 25px;
	margin-bottom: 5px;
}
.Formation {
	margin-left: 25px;
}
.imgPhoto {
	margin: 15px;
	width: 125px;
	height: 180px;
	margin-right: 0px;
}